<!doctype html>
<title>Cadastro de Projeto</title>
<h1>Cadastro de Projeto</h1>
<form action = '', method="post" role = "form"> 
	<div class="form-group">
		<label for="name">Nome:</label>
		<input type="text" class="form-control" id="nome", name="nome", placeholder="Autor do projeto">
		<br>
		<label for="name">Email:</label>
		<input type="text" class="form-control" id="email", name="email", placeholder="E-Mail">
		<br>
		<label for="name">Título:</label>
		<input type="text" class="form-control" id="titulo", name="titulo", placeholder="Título do projeto">
		<br>
		<label for="name">Palavras chave:</label>
		<input type="text" class="form-control" id="key", name="key", placeholder="Palavras chave separadas por espaço">
		<label for="name">Descrição:</label>
		<input type="text" class="form-control" id="desc", name="desc", placeholder="Descrição do projeto">
		<br>
	</div>

<button type="submit", class="btn btn-success">Cadastrar</button>

</form>
