{% extends 'base.html' %}

{% block content %}
	<h1>Cadastro de Projeto</h1>
	<form action="" method="post">
		{{form.hidden_tag()}}
		<p>
			{{form.professor_name.label}}<br>
			{{form.professor_name(size = 50)}}
		</p>
		<p>
			{{form.email.label}}<br>
			{{form.email(size = 50)}}
		</p>
		<p>
			{{form.project_title.label}}<br>
			{{form.project_title(size = 50)}}
		</p>
		<p>
			{{form.key_words.label}}<br>
			{{form.key_words(size = 50)}}
		</p>
		<p>
			{{form.project_description.label}}<br>
			{{form.project_description(size = 50)}}
		</p>
	</form>
{% endblock %}
