<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} - Osiris </title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css'>
    <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/dansup/bulma-templates/057b397688ec74e76092a5f8fc65fbf04335b056/css/tabs.css">
</head>
<body>    
    {% include 'nav.html' %}

    <br>
    <section class="content">
        <div class="container has-text-centered">
            <h1 class="title"> {{ title }} </h1>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>
