<nav class="navbar is-info">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <h1 class='title' style='color: white;'>OSIRIS</h1>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start is-link">
            <a class="navbar-item" href="/show_projects/">
                Visualizar Projetos
            </a>
            <a class="navbar-item" href="/add_project/">
                Divulgar Projeto
            </a>
            <a class="navbar-item" href="/show_professors/">
                Consultar Professores
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-primary" href="https://github.com/GuiMarthe/hckton">
                            <span class="icon is-medium">
                                <i class="fab fa-lg fa-github"></i>
                            </span>
                            <span>Download</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>