{% set title='Professores' %}
{% extends 'base.html' %}

{% block content %}
<div class="container" style="width: 50%;">
	<form action="" method="post">
		{{form.hidden_tag()}}
		<div class="field has-addons">
			<div class="control">
				{{form.search(size = 50, class_='input', placeholder='Professor')}}
			</div>
			<div class="control">
				{{form.submit(class_='button is-info')}}
			</div>
		</div>
	</form>
</div>


{% if pr.__len__() > 0 %}
<br>
<div class="columns">
	<div class="column is-8 is-offset-2">
		<div class="columns is-multiline is-8">
			{% for item in pr %}
				<div class="column is-3">
					<figure class="image" style="width: 100%">
						<a href="#">
							<img src="{{item.photo}}">
							<p class="subtitle">{{item.name}}</p>
						</a>
						<p><b>Relevância:</b> {{ 100*item.score }}%</p>
					</figure>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{%endif%}

{% endblock %}