{% set title='Projetos em Aberto' %}
{% extends 'base.html' %}

{% block content %}

<style>
.max-lines {
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 4.5em;
	line-height: 1.5em;
	}
</style>

<div class="columns">
	<div class="column is-8 is-offset-2">
		<div class="columns is-multiline">
			{% for item in pl %}
				<div class="column is-4">
					<div class="message is-dark" style="background-color: #e9e9e9;">
						<div class="message-header">
							<p> {{item.project_title}} </p>
						</div>
						<div class="message-body">
							<p> <b>Orientador:</b> {{item.professor_name}} </p>
							<p class='max-lines'> <b>Descrição:</b> {{item.project_description}} <br><br><br> </p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
